{% extends 'base.html' %}

{% block title %}
    URL Shortener
{% endblock %}

{% block main %}

<h1>URL Shortener</h1>


<form action="/your-url" method="post">
    <label for="url">Website URL</label>
    <input type="url" name="url" value="" required />
    <br />
    <label for="url">Shor Name URL</label>
    <input type="text" name="code" value="" required />
    <br />
    <input type="submit" value="Shorten" />
</form>

<form action="/your-url" method="post" enctype="multipart/form-data">
    <label for="file">File</label>
    <input type="file" name="file" value="" />
    <br />
    <label for="url">Shor Name URL</label>
    <input type="text" name="code" value="" />
    <br />
    <input type="submit" value="Shorten File" />
</form>

{% if codes %}
{{ (codes) }}
<h2>URLs your have created</h2>
<ul>
    {% for code in codes %}
    <a href="{{ url_for('urlshort.url_redirect', code=code) }}">
        <li>{{code}}</li> 
    </a>
    {% endfor %}
</ul>
{% endif %}

{% endblock%}